*{
    margin: 5px;
    padding: 0;
}


/* CSS DA PARTE DO SORTEIO */

.sorteio{
    display: flex;
    border: 2px solid black;
    width: 100%;
    height: 250px;
    text-align: center;
}



.grupos{

    display: flex;
    flex-direction: column;
    width: 130px;
    height: 165px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

}

.equipes{
    width: 115px;
    height: 27px;
    border: 2px solid black;
}

/* CSS DA PARTE DO CHAVEAMENTO */

.chaveamento{
    display: flex;
    border: 2px solid black;
    width: 100%;
    height: 900px;
}

.coluna{
    display: flexbox;
    width: 100%;
    height: 98%;
    margin: 5px;
    background-color: aqua;
    border: 2px solid black;
}

.lateral1{
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 165px;
    background-color: yellowgreen;
    margin-top: 40px;
}

.lateral2{
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 165px;
    background-color: yellowgreen;

}

#lateral2{
    margin-top: 95px;
}

.centro1{
    width: 130px;
    height: 165px;
    background-color: yellowgreen;
    margin-top: 195px;
}

#centro1{
    margin-top: 180px;
}