*{
    margin: 5px;
    padding: 0;
}

body{
    background-image: radial-gradient(rgba(204, 84, 122), rgba(119, 9, 46), rgba(56, 2, 25));
}



/* CSS DA PARTE DO SORTEIO */

.sorteio{
    display: flex;
    border: 2px solid black;
    width: 100%;
    height: 250px;
    text-align: center;
}



.grupos{

    display: flex;
    flex-direction: column;
    width: 139px;
    height: 175px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 20px;
    
}

.equipes{
    width: 115px;
    height: 32px;
    border: 2px solid black;
    border-radius: 10px;
}

/* CSS DA PARTE DO CHAVEAMENTO */

.chaveamento{
    display: flex;
    width: 100%;
    height: 1000px;
}

.coluna{
    display: flexbox;
    width: 100%;
    height: 98%;
    margin: 5px;
    
}

.lateral1{
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 165px;
    color: black;
    margin-top: auto;
    margin-bottom: auto;
}

.lateral2{
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 165px;
    background-color: yellowgreen;

}

#lateral2{
    margin-top: 95px;
}

.centro1{
    width: 130px;
    height: 165px;
    background-color: yellowgreen;
    margin-top: 195px;
}

#centro1{
    margin-top: 180px;
}




/* CSS DO MODAL*/

button{

    padding: 10px;
    opacity: 0.5;
    color: #fff;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    opacity: 0,9;
    font-size: 1rem;
    

}

button:hover{
    opacity: 1;
}

#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;

}

#Modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: azure;
    width: 600px;
    max-width: 90%;
    padding: 5px;
    transform: 0.5s;
}


#Modal.hide, #fade.hide{
    z-index: -20;
    opacity: 0;
    

}

#Moda.hide{
    top: 0;
}



.quantity1{
    width: 30px;
}

#chaveamentoGrupo1{
    z-index: -1;
    opacity: 1;
}

.rodada{
    display: inline-block;
    width: 100%;
    border: 1px solid black;
}